{% extends "plantilla.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-5">Dashboard de Análisis de Datos</h1>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    {{ graph1 | safe }} <!--SE AGREGA EL GRÁFICO-->
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    {{ graph2 | safe }} <!--SE AGREGA EL GRÁFICO-->
                </div>
            </div>
        </div>
    </div>

    
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    {% if matriz_html %}
                    {{ matriz_html | safe }} <!--SE AGREGA EL GRÁFICO-->
                    {% else %}
                    <p class="text-danger">Error: El gráfico de la matriz no se generó.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="/formulario" class="btn btn-primary">Volver al Formulario</a>
    </div>
</div>

<div class="col-md-4">
    <div class="card text-white bg-info mb-3">
        <div class="card-body text-center">
                    <h5 class="card-title">F1-Score (Precisión Global)</h5>
                    <p class="display-4">{{ f1_score if f1_score else "sin datos"}}</p>
                    <small>Cercano a 1.0 es ideal</small>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card p-4 shadow-sm border-0">
        <h2 class="text-primary">Estado del Sistema</h2>
        
        <p>Estado de la base de datos: 
            {% if status == "Conectado" %}
                <span class="badge bg-success">Conectado ✅</span>
            {% else %}
                <span class="badge bg-danger">Error ❌</span>
            {% endif %}
        </p>
        
        {% if fecha %}
            <div class="alert alert-info">
                Última sincronización con servidor: <strong>{{ fecha }}</strong>
            </div>
        {% endif %}
        
        {% if error %}
            <div class="alert alert-danger">
                Detalles del error: {{ error }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}