{% extends "plantilla.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5">Clasificador de Riesgo de Hipertensión</h1>
        <div class="text-center card shadow-sm">
            <div class="card shadow h-100 p-4 bg-light border-0">
                <h4 class="text-secondary">Sobre el proyecto</h4>
                <hr>
                <p class="text-muted">
                El problema de hipertensión a edades tempranas es un problema de salud pública que va al alza. Esta condición,
                normalmente asociada a edades más avanzadas está siendo notoria cada vez más en personas de entre 20 y 30 años. El mayor inconveniente de la hipertensión es que la mayoría de las
                personas no presentan síntomas.</p>
                <ul class="small text-muted">
                    <br>
                    <li>Según datos de la Organización Mundial de la Salud <a href="https://www.who.int/es/news-room/fact-sheets/detail/hypertension" target="_blank" rel="noopener">(OMS)</a> “el 46% de los adultos hipertensos desconocen que padecen esta afección".</li>
                    <li>La necesidad de desarrollar este proyecto es por la limitada oferta que se tiene en el país.</li>

                </ul>
                <div class="alert alert-info mt-auto">
                    <strong>Este sistema <strong>NO</strong> se debe tomar como una decisión médica.</strong>
                </div>
            </div>
        </div>
    <div class="text-center mt-3">
        <a href="/formulario" class="btn btn-primary">Formulario</a>
    </div>
</div>


{% endblock %}